.search-modal {
  position: fixed;
  top: 0;
  z-index: $search-modal-level;
  width: 100%;
  height: 100vh;
  padding: 12px 0;
  background-color: $white;
  transform: translate3d(100%, 0, 0);
  // transition: width, height, padding, margin, border, top, right, bottom, left
  // => 위의 요소를 transition이랑 같이 사용하는 것을 지양한다. (브라우저에 성능이 좋지 않다)
  // 그러므로 tranlate3d를 사용하는 것이 효과적,
  transition: transform 300ms ease-in-out;

  &.is-active {
    transform: translate3d(0, 0, 0);
  }

  &-header {
    margin-bottom: 20px;
  }

  &-form {
    @include flexbox(between);

    .input-group {
      flex-grow: 1;
    }

    .btn-ghost {
      flex-grow: 0;
      flex-shrink: 0;
      width: 56px;
      margin-left: 8px;
    }
  }
}
